* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background: #ce1212;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);

}

.font-ital {
    font-family: "Amatic SC", sans-serif;
}

/* <!-- .................... -->
        <!-- Navbar -->
         <!-- .................... --> */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 14vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 999;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);

}

.menu-nav {
    display: flex;
    gap: 35px;
    font-size: 16px;
    font-weight: 500;

}

.menu-nav a {
    text-decoration: none;
    position: relative;
    color: grey;
    padding-bottom: 10px;
}

.menu-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background-color: red;
    transition: width 0.3s ease;
}

.menu-nav a:hover::after {
    width: 100%;
}

.point-red {
    color: red;
}

.book {
    background-color: red;
    width: 130px;
    height: 36px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

/* <!-- .................... -->
        <!-- Section1 -->
         <!-- .................... --> */
.section1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #f2f2f2;
    height: 100vh;
    padding-top: 140px;
}

.left-s1 {
    /* background-color: aquamarine !important; */
    width: 39%;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.p1-s1 {
    width: 400px;
    font-size: 60px;
    font-weight: 600;
    color: rgb(96, 96, 96);
}

.p2-s1 {
    font-size: 23px;
}

.p3-s1 {
    background-color: red;
    width: 150px;
    height: 42px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.p4-s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 18px;
    font-weight: 500;
}

.p4-s1 svg {
    width: 29px;
    color: red;
    height: 29px;
}

.center-s1 {
    display: flex;
    gap: 20px;
}

.right-s1 img {
    width: 535px;
    animation: upside-down 4s ease-in-out infinite alternate-reverse both;
}

@keyframes upside-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

/* <!-- .................... -->
        <!-- Section2 -->
         <!-- .................... --> */
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 20px;
    height: auto;
    padding-left: 110px;
    padding-right: 20px;
    padding-bottom: 100px;
}

.p1-s2 {
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    color: #5b6065;
}

.p2-s2 {
    font-size: 48px;
    font-weight: 500;
}

.top-s2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bottom-s2 {
    display: flex;
    gap: 60px;
}

.left-s2 {
    width: 55%;
}

.left-s2 img {
    width: 100%;
}

.right-s2 {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right-s2 p {
    font-size: 17px;
}

.right-s2 img {
    width: 100%;
}

.cadr-s2 {
    border: #212529 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 105px;
    gap: 5px;
}

.p3-s2 {
    color: #37373f;
    font-size: 24px;
    font-weight: 700;
}

.p4-s2 {

    font-size: 27px;
    font-weight: 700;
}

.p5-s2 {
    color: #909294;
    font-style: italic;
}

.check-line {
    display: flex;
    gap: 15px;

}

.check-line i {
    font-weight: 900;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    background-color: rgb(224, 0, 0);
    width: 20px !important;
    height: 20px !important;
}

.check-s2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* <!-- .................... -->
        <!-- Section3 -->
         <!-- ....................  --> */
.section3 {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    height: 66vh;
    padding: 60px 100px;
}

.card-main {
    background-color: #ce1212;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    color: white;
}

.card-main p {
    font-size: 18px;
}

.card-info p {
    font-size: 18px;
}

.learn {
    text-align: center !important;
    background-color: #bc121275;
    width: 175px;
    height: 42px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 80px;

}

.learn a {
    text-decoration: none !important;
    color: white;
    font-size: 17px;
}

.learn i {
    font-size: 15px;
}

.learn:hover {
    background-color: #f2f2f2;

    a {
        color: #ce1212;
    }
}

.card-info {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-info i {
    font-size: 32px;
    color: #ce1212;
    background-color: #e0909030;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.card-info h3 {
    font-size: 21px;
    text-align: center;
}

.card-info p {
    text-align: center;
}

.card-info:hover {
    i {
        color: white;
        background-color: #ce1212;
    }
}

/* <!-- .................... -->
        <!-- Section4 -->
        <!-- ....................  --> */
.section4 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/stats-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.details-s4 {
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    text-align: center;
}

.details {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    flex-direction: column;
    gap: 10px;
}

.s4-1 {
    font-size: 55px;
    font-weight: bold;
}

.s4-2 {
    font-weight: 600;
    font-size: 17px;
    color: #c4c4c4;
}

/* <!-- .................... -->
        <!-- Section5 -->
        <!-- ....................  --> */
.section5 {
    padding-top: 50px;
}

.choix a {
    text-decoration: none;
    color: #28282c;
    font-size: 18px;
}

.choix {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
    gap: 30px;
}

.p1-s5 {
    color: #66696c;
}

.p2-s5 {
    color: #ce1212;
    font-size: 55px;
    font-weight: bolder;
}

.plat img {
    width: 300px;
}

.plat-menu {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    padding-bottom: 100px;
}

.plat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.plat h3 {
    font-size: 24px;
}

.p3-s5 {
    font-size: 17px;
    color: #909294;
}

.p4-s5 {
    color: #ce1212;
    font-size: 24px;
    font-weight: bold;
}

/* <!-- .................... -->
        <!-- Section6 -->
        <!-- ....................  --> */
/* FOR CAROUSEL6 (Section 6) */
.carousel-all {
    position: relative;
}

.section6 .carousel {
    position: absolute;
    opacity: 0;
}

.section6 .carousel.active {
    opacity: 1;
    position: relative;
}

/* Section 6 specific styles */
.section6 {
    background-color: #f2f2f2;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.bottom-s6 {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.right-s6 img {
    width: 200px;
    border-radius: 50%;
}

.left-s6 {
    width: 39% !important;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-left: solid #ce1212;
    padding-left: 20px;
    height: 160px;
}

.p0-s6 {
    font-size: 17px;
    font-style: italic;
}

.leq {
    color: #ce1212d2;
    font-size: 20px;
    padding-right: 35px;
}

.riq {
    color: #ce1212d2;
    font-size: 20px;
    padding-left: 20px;
}

.starts {
    color: rgba(225, 191, 0, 0.879);
    display: flex;
}

.form h4 {
    font-size: 19px;
}

.form p {
    font-size: 15px;
    color: #a9a8a8;
}

/* Buttons for Section 6 */
.section6 .button-cirlce {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: -60px;
}

.section6 .b-s6 {
    width: 13px;
    height: 13px;
    background-color: #ababab;
    cursor: pointer;
    border-radius: 50%;
}

.section6 .b-s6.active {
    background-color: #ce1212;
}

/* Section 7 */
.section7 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}

.memorys {
    display: flex;
    overflow: hidden;
    gap: 1px;
    transition: transform 0.6s ease;
}

.section7 .carousel1 {
    flex: 0 0 33.333%;
    min-width: 33.333%;
}

.memory1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/events-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.memory2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/events-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.memory3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/events-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.memory4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/events-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.info-s7 {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    padding-left: 30px;
    padding-top: 500px;
}

.info-s7 h3 {
    font-size: 25px;
}

.p1-s7 {
    font-weight: bold;
    font-size: 35px;
    border-bottom: #ce1212 solid 3px;
    width: 75px;
}

.p2-s7 {
    font-size: 17px;
}

/* Buttons for Section 7 */
.section7 .button-cirlce {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.section7 .b-s6 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section7 .b-s6.active {
    background-color: #ce1212;
}

  /* <!-- .................... -->
        <!-- Section8 -->
        <!-- ....................  --> */
    .section8 {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 100px;


}
.bottom-s8{
    display: flex;
    justify-content: space-evenly;
 
}
.chef img{
    width: 390px;
    border-radius: 5px;
}
.img1{
    position: absolute;
    bottom: 125px;
    filter: invert(1) sepia(1) saturate(0) hue-rotate(1deg);
}
.chef{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25.66%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
      transition: transform 0.3s ease;
}
.chef:hover{
transform: scale(1.10);
.media{
transform: translateX(-60px);
display: block;
flex-direction: column;
display: flex;

}
}
.p1-s8{
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 5px;
     padding-top: 5px;
}
.p2-s8{
     padding-bottom: 5px;
     font-size: 16px;
}
.p3-s8{
    font-style: italic;
    font-size: 15px;
 padding-bottom: 15px;
}
.media{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #b5b5b5b1;
    padding: 20px 9px 20px 9px;
    border-radius: 5px;
    color: #21252990;
    font-size: 18px;
    right: -50px;
    top: 20px;
    display: none;

}
 /* <!-- .................... -->
        <!-- Section9 -->
        <!-- ....................  --> */
    .section9 {
    gap: 20px;
    padding-top: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    
}
.bookta{
      font-size: 14px;
   font-weight: 500;
   
   background-color: rgb(255, 230, 183);
   width: 140px;
   height: 33px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
}
.tablo{
    width: 85vw;
    height: 70vh;
    display: flex;
    gap: 45px;
    background-color: rgba(232, 232, 232, 0.221);
}
.cart-tablo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}
.rese-table{
    text-decoration: none;
    color: aliceblue;
    background-color: #ce1212;
    font-weight: 600;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
}
.inputo:focus{
    border: 1px solid  #ce1212!important;
    outline: none;    
}
.inputo{
    display: block;
    padding: 15px;
    width: 250px;
    border: #c4c4c4 solid 1px;
}
#area{
    width: 790px;
    padding: 8px;
    height: 170px;
    border: #c4c4c4 solid 1px;
}
.tablo img{
    height: 100%;
    width: 33%;
}
.row{
    display: flex;
    gap: 20px;
}
 /* <!-- .................... -->
        <!-- Section10 -->
        <!-- ....................  --> */
        .section10 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    gap: 80px;
    padding-bottom: 50px;
}

.bottom-s10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.gallery {
    display: flex;
    gap: 20px;
    overflow: hidden;
    align-items: center;
    padding: 20px;
}

.gallery img {
    width: 250px;
    flex: 0 0 auto;
    transition: all 0.5s ease;
}

.gallery img:nth-child(3) {
    border: 5px solid white;
    outline: 5px solid #ce1212;
    transform: scale(1.15);
    z-index: 10;
    position: relative;
}

/* Buttons for Section 10 */
.section10 .button-cirlce {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.section10 .b-s6 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section10 .b-s6.active {
    background-color: #ce1212;
}
      /* <!-- .................... -->
        <!-- Section11 -->
        <!-- ....................  --> */

.section11 {
    gap: 50px;
    padding-top: 90px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   width: 99vw;
    padding-bottom: 50px;
}

.map {
    width: 86%;
    height: 400px; 
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
.contact-s11{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.info-s11{
    display: flex;
    flex-direction: column;
 gap: 30px;
}
.flex-s11{
    display: flex;
     background-color: #ffffff;
     gap: 20px;
     box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
     width: 600px;
     height: 95px;
     padding-left: 20px;
     align-items: center;
}
.flex-s11 i{
    background-color: #ce1212;
    width: 50px;
    height: 50px;
    border-radius: 50%;
        display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #ffffff;
}
.flex-s11 h4{
    color:#52565ae8;
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 7px;
}
.flex-s11 span{
    font-weight: bold;
}
.bottom-s11{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.input-s11{
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
      display: flex;
      flex-direction: column; justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 35px;
}
.part1-s11{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}
.input-s11 input {
    width: 100%;
}
.input-s11 textarea{
      width: 100% !important;
}
.input-s11 input:focus{
    border: 1px solid  #ce1212!important;
    outline: none;    
}
.input-s11 a{
    background-color: #ce1212;
    width: 162px;
    height: 42px;
    font-weight: 800 !important;
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    text-decoration: none;

}

      /* <!-- .................... -->
        <!-- footer -->
        <!-- ....................  --> */

        .footer{
    background-color:#111213;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100% !important;
   
}
.fotoya i{
    font-size: 22px;
    color: #ce1212;
}
.fotoya h6{
    color: aliceblue;
    font-size: 18px;
    font-family: "Satisfy", cursive;
  font-weight: 600;
}
.corto p{
    margin-bottom: 0rem !important;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.904);
}
.fotoya{
    display: flex;
    gap: 10px;
}
.cartiya{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.top-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.adresa{
    flex-direction: column;
}
.mediya i{
    color: rgba(190, 190, 190, 0.712);
    font-size: 17px;
}
.corto span , .sapana{
    font-weight: bold;
}
.mediya{
    border: 1px solid rgba(190, 190, 190, 0.712);
    border-radius: 50%;
    height: 40px;
    width: 40px;
     display: flex;
    justify-content: center;
    align-items: center;

}
.oronga{
    color: #ce1212;
}
.bottom-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
      font-size: 14px;
      border-top: 1px solid  rgba(209, 209, 209, 0.195);
      width: 80%;
      padding-top: 25px;
} 
.media1{
    display: flex;
    /* flex-direction: column; */
    gap: 15px;
}











