* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-ital {
    font-family: "Amatic SC", sans-serif;
}

/* <!-- .................... -->
        <!-- Navbar -->
         <!-- .................... --> */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 14vh;
    background-color: rgb(255, 255, 255);
    /* position: fixed; */
}

.menu-nav {
    display: flex;
    gap: 35px;
    font-size: 16px;
    font-weight: 500;

}

.menu-nav a {
    text-decoration: none;
    position: relative;
    color: grey;
    padding-bottom: 10px;
}

.menu-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background-color: red;
    transition: width 0.3s ease;
}

.menu-nav a:hover::after {
    width: 100%;
}

.point-red {
    color: red;
}

.book {
    background-color: red;
    width: 130px;
    height: 36px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

/* <!-- .................... -->
        <!-- Section1 -->
         <!-- .................... --> */
.section1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #f2f2f2;
    height: 90vh;
}

.left-s1 {
    /* background-color: aquamarine !important; */
    width: 39%;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.p1-s1 {
    width: 400px;
    font-size: 60px;
    font-weight: 600;
    color: rgb(96, 96, 96);
}

.p2-s1 {
    font-size: 23px;
}

.p3-s1 {
    background-color: red;
    width: 150px;
    height: 42px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.p4-s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 18px;
    font-weight: 500;
}

.p4-s1 svg {
    width: 29px;
    color: red;
    height: 29px;
}

.center-s1 {
    display: flex;
    gap: 20px;
}

.right-s1 img {
    width: 535px;
    animation: upside-down 4s ease-in-out infinite alternate-reverse both;
}

@keyframes upside-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

/* <!-- .................... -->
        <!-- Section2 -->
         <!-- .................... --> */
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 20px;
    height: auto;
    padding-left: 110px;
    padding-right: 20px;
    padding-bottom: 100px;
}

.p1-s2 {
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    color: #5b6065;
}

.p2-s2 {
    font-size: 48px;
    font-weight: 500;
}

.top-s2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bottom-s2 {
    display: flex;
    gap: 60px;
}

.left-s2 {
    width: 55%;
}

.left-s2 img {
    width: 100%;
}

.right-s2 {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right-s2 p {
    font-size: 17px;
}

.right-s2 img {
    width: 100%;
}

.cadr-s2 {
    border: #212529 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 105px;
    gap: 5px;
}

.p3-s2 {
    color: #37373f;
    font-size: 24px;
    font-weight: 700;
}

.p4-s2 {

    font-size: 27px;
    font-weight: 700;
}

.p5-s2 {
    color: #909294;
    font-style: italic;
}

.check-line {
    display: flex;
    gap: 15px;

}

.check-line i {
    font-weight: 900;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    background-color: rgb(224, 0, 0);
    width: 20px !important;
    height: 20px !important;
}

.check-s2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* <!-- .................... -->
        <!-- Section3 -->
         <!-- ....................  --> */
.section3 {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    height: 66vh;
    padding: 60px 100px;
}

.card-main {
    background-color: #ce1212;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    color: white;
}

.card-main p {
    font-size: 18px;
}

.card-info p {
    font-size: 18px;
}

.learn {
    text-align: center !important;
    background-color: #bc121275;
    width: 175px;
    height: 42px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 80px;

}

.learn a {
    text-decoration: none !important;
    color: white;
    font-size: 17px;
}

.learn i {
    font-size: 15px;
}

.learn:hover {
    background-color: #f2f2f2;

    a {
        color: #ce1212;
    }
}

.card-info {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-info i {
    font-size: 32px;
    color: #ce1212;
    background-color: #e0909030;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.card-info h3 {
    font-size: 21px;
    text-align: center;
}

.card-info p {
    text-align: center;
}

.card-info:hover {
    i {
        color: white;
        background-color: #ce1212;
    }
}

/* <!-- .................... -->
        <!-- Section4 -->
        <!-- ....................  --> */
        .section4{
           padding-top: 50px;
           padding-bottom: 50px;
           background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/stats-bg.jpg);
             background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    height: 50vh;
        }
        .details-s4{
            display: flex;
            justify-content: space-around;
            align-items: center !important;
            text-align: center;
        }
        .details{
            
        }
        .s
