*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 14vh;
    background-color: antiquewhite;
    position: fixed;
}
.menu-nav{
    display: flex;
    gap: 35px;
    font-size: 16px;
    font-weight: 500;
}
.point-red{
    color: red;
}
.book{
    background-color: red;
    width: 130px;
    height: 36px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}